<div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a data-toggle="modal" ng-click="addAppAgain()">Add App</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="#/">POV Home</a></h3>
        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <div class="panel-heading">POV DETAILS</div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Account</th>
                            <th>SFDC</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <th scope="row">[[$index+1]]</th>
                          <td>[[povdetails.email]]</td>
                          <td>[[povdetails.account]]</td>
                          <td>[[povdetails.sfdc]]</td>
                          <td>[[povdetails.start]]</td>
                          <td>[[povdetails.enddate]]</td>
                          <td><span style="cursor:pointer;" ng-click="editPov(pov.id)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
                          <td><span style="cursor:pointer;color:#e43309;" ng-click="confirmDelete(pov.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <div class="panel-heading">App List</div>
                <table class="table table-hover table-bodered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Products</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="app in apps track by app.id">
                          <th scope="row">[[$index+1]]</th>
                          <td>[[app.name]]</td>
                          <td ng-repeat="productname in app.products" ng-click="showModals([[productname]])">
                          [[productname]]
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>


<div class="modal fade" id="addApp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add App</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtAppName" class="control-label">App Name:</label>
                        <input type="text" class="form-control" placeholder="Enter App Name" ng-model="info.appname" id="txtAppName">
                    </div>
                    <div class="form-group"> Products: <br>
                        <label ng-repeat="product in products">
                        <input type="checkbox" ng-model="selectedProducts[product.name]"> [[product.name]]
                      </input>
                    </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="submitApp()" class="btn btn-primary">Add App &amp; Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="javaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add Java Details</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtTierName" class="control-label">Tier Name:</label>
                        <input type="text" class="form-control" ng-model="info.tiername" id="txtAppName">
                    </div>
                    <div class="form-group">
                        <label for="txtTierWebApp" class="control-label">Is the tier a web application, standalone executable, or a packagaed component?</label>
                        <input type="text" class="form-control" ng-model="info.tierwebapp" id="txtTierWebApp">
                    </div>
                    <div class="form-group">
                        <label for="txtJVMs" class="control-label">How Many JVM's?</label>
                        <input type="text" class="form-control" ng-model="info.jvms" id="txtJVMs">
                    </div>
                    <div class="form-group">
                        <label for="txtJDKversion" class="control-label">JDK Version?</label>
                        <input type="text" class="form-control" ng-model="info.version" id="txtJDKversion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="submitProductDetails()" class="btn btn-primary">Submit Product Details</button>
            </div>
        </div>
    </div>
</div>
